<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Development</title>
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65"
      crossorigin="anonymous"
    />
    <link
      href="https://fonts.googleapis.com/css2?family=Gowun+Dodum&family=Nanum+Gothic+Coding:wght@700&family=Noto+Sans:wght@300&display=swap"
      rel="stylesheet"
    />
    <link rel="stylesheet" href="../static/css/style.css" />
  </head>

  <body>
    <div id="body-wrapper">
      <!-- ########## body-content ########## -->
      <div id="body-content" style="padding-bottom: 0px">
        <!-- ###### navbar start ###### -->
        <nav class="navbar navbar-expand-lg bg-light">
          <div class="container-fluid">
            <a
              class="navbar-brand"
              style="
                color: rgb(56, 18, 18);
                font-size: 35px;
                font-family: 'Noto Sans', sans-serif;
              "
            >
              <img
                src="../static/img/kw.png"
                alt="Logo"
                width="50"
                height="50"
                style="margin-right: 10px"
              />
              KW_Shield
            </a>
            <div
              class="collapse navbar-collapse"
              id="navbarNav"
              style="font-size: 20px"
            >
              <ul
                class="navbar-nav position-absolute top-50 start-50 translate-middle"
                style="font-family: 'Noto Sans', sans-serif"
              >
                <li class="nav-item">
                  <a
                    class="nav-link active font"
                    aria-current="page"
                    href="/"
                    style="margin-right: 30px; margin-left: 50px"
                  >
                    Home
                  </a>
                </li>
                <li
                  class="nav-item"
                  style="margin-left: 100px; margin-right: 100px"
                >
                  <a
                    class="nav-link active"
                    aria-current="page"
                    href="/development"
                    style="margin-right: 30px"
                  >
                    Development
                  </a>
                </li>
                <li class="nav-item">
                  <a
                    class="nav-link active font"
                    aria-current="page"
                    href="#"
                    style="margin-right: 30px"
                  >
                    About people
                  </a>
                </li>
              </ul>
            </div>
          </div>
        </nav>
        <!-- ###### navbar end###### -->
      </div>
      <!-- ########## body-content ########## -->

      <div
        class="p-3 p-md-5 m-md-3"
        style="
          background-image: url(../static/img/bert.png);
          background-repeat: no-repeat;
          background-position: 100% 35%;
          background-size: 55%;
          text-align: left;
        "
      >
        <div class="col-md-5 p-lg-5 text-dark">
          <h1 class="display-4 fw-normal">딥러닝 모델</h1>
          <h1
            class="display-1 fw-normal"
            style="color: black; text-shadow: 2px 3px #777879"
          >
            BERT
          </h1>
          <span style="padding-left: 5px; font-size: large">
            Bidirectional Encoder Representations from Transformers
          </span>
          <br />
          <br />
          <p
            class="lead fw-normal"
            style="padding-left: 5px; white-space: nowrap"
          >
            2018년, 구글에서 개발한 사전 훈련된 언어모델로써
            <br />자연어처리 분야에서 매우 높은 성능을 보이는 최첨단 딥러닝
            모델이다. <br />
            그 중에서도 100개 이상의 언어로 학습된
            <span style="text-decoration: underline"
              >bert-base-multilingual-cased </span
            >모델을 사용하여 <br />
            한국어와 영어를 한 모델에서 모두 인식할 수 있도록 학습시켰다.
          </p>
          <a
            class="btn btn-outline-dark btn-lg"
            href="https://github.com/google-research/bert"
            style="margin-top: 5%"
            >More about BERT</a
          >
        </div>
        <hr class="my-hr" style="margin-top: 10px" />
      </div>
      <h2
        style="text-align: center; margin-bottom: 50px"
        class="display-3 fw-normal"
      >
        Used Dataset
      </h2>
      <div class="d-md-flex my-3" style="margin-left: 15px; margin-right: 50px">
        <div class="col-lg-4 text-bg-dark text-center me-md-3 px-3 px-md-5">
          <div class="my-3 py-3">
            <h2 class="display-5">Korean Mail Dataset</h2>
            <p class="lead">메일 데이터를 직접 추출하여 라벨링</p>
            ㅇ런개씨발
          </div>
        </div>
        <div
          class="col-lg-4 text-bg-dark text-center me-md-3 px-3 px-md-5"
          style="white-space: nowrap"
        >
          <div class="my-3 p-3">
            <h2 class="display-5">English Mail Dataset</h2>
            <p class="lead">spamassasin과 kaggle에서 오픈데이터셋 사용</p>
          </div>
        </div>
        <div class="col-lg-4 text-bg-dark text-center me-md-3 px-3 px-md-5">
          <div class="my-3 py-3">
            <h2 class="display-5">URL Dataset</h2>
            <p class="lead">phishtank에서 오픈데이터셋 사용</p>
          </div>
        </div>
      </div>
      <hr
        class="my-hr"
        style="margin-left: 70px; margin-right: 70px; margin-top: 50px"
      />
      <div
        class="h-200 p-5 text-bg-dark rounded-3 text-center mx-auto"
        style="width: 80%"
      >
        <h2>Change the background</h2>
        <p>
          Swap the background-color utility and add a `.text-*` color utility to
          mix up the jumbotron look. Then, mix and match with additional
          component themes and more.
        </p>
        <button class="btn btn-outline-light" type="button">
          Example button
        </button>
      </div>
      <div style="opacity: 0"><div>black space</div></div>

      <!-- *************** footer ****************** -->
      <footer class="footer mt-auto bg-light">
        <nav style="margin-bottom: 10px; font-size: 13px">
          <a
            href="https://www.youtube.com/watch?v=-IQIdDYJZac"
            target="_blank"
            style="margin-right: 20px"
            >Youtube</a
          >
          <a href="https://github.com/KW-shield" target="_blank">Github</a>
        </nav>
        <p>
          <span class="text-muted"
            >Copyright © 2023. KW_Shield. All rights reserved. <br />Kwangwoon
            Univ. Computer Information Engineering.
          </span>
        </p>
      </footer>
      <!-- *************** footer ****************** -->
    </div>

    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-kenU1KFdBIe4zVF0s0G1M5b4hcpxyD9F7jL+jjXkk+Q2h455rYXK/7HAuoJl+0I4"
      crossorigin="anonymous"
    ></script>
  </body>
</html>
